<app-header *ngIf="viewService.getView() != 'Log' && viewService.getView() != 'Create Account'"></app-header>
<app-dashboard *ngIf="viewService.getView() === 'Dashboard'"></app-dashboard>
<app-create-account *ngIf="viewService.getView() === 'Create Account'"></app-create-account>
<app-notifications
  *ngIf="viewService.getView() === 'Notifications'"
></app-notifications>
<app-administration
  *ngIf="viewService.getView() === 'Administration'"
></app-administration>
<app-projects *ngIf="viewService.getView() === 'Projects'"></app-projects>
<app-helper *ngIf="viewService.getView() === 'Help'"></app-helper>
<app-logpage *ngIf="viewService.getView() === 'Log'"></app-logpage>

<router-outlet></router-outlet>
