<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>  
      <a class="navbar-brand" href="#">CaptElec</a>
      
      <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#" (click)='changeView("Dashboard");viewService.setIsDashboardActive(false)' data-bs-dismiss="offcanvas">Overview</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" (click)='changeView("Help")' data-bs-dismiss="offcanvas">Help</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
