<div class="container">
    <div class="table-responsive">
        <BR><BR>
        <table class="table">
            <thead class="table-light table-cell">
                <tr>
                    <th colspan="3"><h2>Sensors by project</h2></th>
                </tr>
                <tr>
                    <th colspan="3" class="table-cell">
                    <label for="project">Select your project (if you got more than 1): </label>
                    <select name="project" id="project">
                      <option value="IUTBlagnac">IUT Blagnac</option>
                      <option value="UnivérsitéJeanJaurès">Univérsité Jean Jaurès</option>
                      <option value="Projet3" selected>Projet 3</option>
                      <option value="...">...</option>
                    </select>
                    </th>
                </tr>
                <tr>
                    <th>Name</th>
                    <th>Room</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="table-cell">
                <tr>
                    <td>Name</td>
                    <td>Room</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
