.container {
  padding-top: 50px;
  padding-bottom: 150px;
}

.battery-container {
  height: 200px;
  width: 150px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.co2-container,
.humidity-container,
.temperature-container {
  height: 200px;
  width: 250px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

#co2Chart,
#humidityChart,
#temperatureChart {
  margin-right: auto;
  margin-left: auto;
}
