<div id="svg-container" *ngIf="!viewService.getIsDashboardActive()"></div>
<!-- Style: hidden --> 
<div class="container" *ngIf="viewService.getIsDashboardActive()">
  <div class="col mb-5">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">
          Dashboard for device
          <span class="text-danger">{{ roomName }}</span>
        </h3>
        <div class="card-text">
          Different informations provided by a MQTT sensor to help you manage
          your room
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col mb-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Battery</h5>
          <app-battery></app-battery>
          <h6 class="card-text text-muted">
            {{ cardText }}{{ criticalRateBattery }}
          </h6>
        </div>
      </div>
    </div>
    <div class="col mb-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">CO2</h5>
          <app-gauge [gauge]="co2Chart"></app-gauge>
          <h6 class="card-text text-muted">
            {{ cardText }}{{ criticalRateCO2 }}
          </h6>
        </div>
      </div>
    </div>
    <div class="col mb-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Humidity</h5>
          <app-gauge [gauge]="humidityChart"></app-gauge>
          <h6 class="card-text text-muted">
            {{ cardText }}{{ criticalRateHumidity }}
          </h6>
        </div>
      </div>
    </div>
    <div class="col mb-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Temperature</h5>
          <app-gauge [gauge]="temperatureChart"></app-gauge>
          <h6 class="card-text text-muted">
            {{ cardText }}{{ criticalRateTemperature }}
          </h6>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-7">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body"></div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body"></div>
      </div>
    </div>
  </div>
</div>
